{% extends "layout.html" %}
{% load static %}
{% block header %}
<header>
    <div class="container-fluid dos">
        <div class="row align-items-center">
            <div class = "col position-relative">
                <div class="position-absolute top-50 start-0">
                    <img src="{% static 'images/Logo1.svg'%}" alt="Logo1">
                </div>
            </div>
            <div class = "col position-relative">
                <div class = "position-absolute top-50 end-0">
                    <img src="{% static 'images/user.svg'%}" alt="user_def">
                </div>
            </div>
        </div>
        <div class = "row dos">
            <div class = "col position-relative">
                <div class="position-absolute top-50 start-0">
                    {% block titulo_header_2 %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}