{% extends "subastar.html" %}
{% load static %}
{% block card-tittle%}
<p>Elige la categoría del vehículo</p>
{% endblock%}
{% block list-group-card %}
<li class="list-group-item">
    <a href="#">Carros y camionetas</a>
</li>
<li class="list-group-item">
    <a href="#">Motos</a>
</li>
<li class="list-group-item">
    <a href="#">Camiones</a>
</li>
<li class="list-group-item">
    <a href="#">Maquinaria Pesada</a>
</li>
<li class="list-group-item">
    <a href="#">Siniestrados</a>
</li>
<li class="list-group-item">
    <a href="#">Otros</a>
</li>
{% endblock%}
{% block go-back-ahead %}
<div class="go-back" style="display: none;">
    <a href="\subastar_step_1.html"><img class = "to-back" src="{% static 'images/mas.svg'%}" alt="mas"></a>
</div>
<div class="go-further">
    <a href="\subastar_step_2.html"><img src="{% static 'images/mas.svg'%}" alt="mas"></a>
</div>
{% endblock %}