{% extends "users\subastar.html" %}
{% load static %}
{% block card-tittle%}
<p>{{titulo}}</p>
{% endblock%}
{% block list-group-card %}
<script>
    function callView(){
        document.getElementById("upgrade-to-view").click();
    }
</script>
<form action="{% url 'subastar_6' id=id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row add_photos justify-content-center align-items-center">
        <div class="col d-grid" id = "photo-upload-container">
            <div class="row justify-content-center upgrade-photos">
                <div class="col" >
                    <label for="file-input">
                        <img src="{% static 'images/camera.svg'%}"/>
                    </label>
                    <label class = "añadir" for="file">Añadir fotos</label>
                    <input type="file" name="file" multiple id="file" accept="image/*" onchange="callView();">
                </div>
                {% if photos %}
                    {% for photo in photos %}
                        {% if forloop.counter0 > 0 %}
                            {% if not forloop.counter0|divisibleby:"2" %}
                                <div class="col">
                                    <img src= "/media/usuarios/{{cuenta}}/{{modelo}}/{{photo.name}}" class="img-thumbnail">
                                </div> 
                            </div>
                            {% else %}
                            <div class="row between-photos">
                                <div class="col">    
                                    <img src= "/media/usuarios/{{cuenta}}/{{modelo}}/{{photo.name}}" class="img-thumbnail">
                                </div> 
                            {% endif %}
                        {% else %}
                        <div class="row between-photos">
                            <div class="col">
                                <img src= "/media/usuarios/{{cuenta}}/{{modelo}}/{{photo.name}}" class="img-thumbnail upgrade-photos-card">
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %} 
            </div>
        </div>
    </div>
    <div class="buttons d-block">
        <div class = "button-for-go back">
            <a href="{% url 'subastar_2' id=id %}"><img src="{% static 'images/menos.svg'%}" alt="mas"></a>
        </div>
        <div class = "button-for-go further">
            <button id = "upgrade-to-view" type="submit">
                <img src="{% static 'images/mas.svg'%}" alt="mas">
            </button>
        </div>
    </div>
</form>
{% endblock %}