{% extends "users\subastar.html" %}
{% load static %}
{% block card-tittle%}
<p>{{titulo}}</p>
{% endblock%}
{% block list-group-card %}
{% if error %}
    <div class="row error publicar-error align-items-center">
        <div class="col-2">
            <img src="{% static 'images/warning.svg'%}" alt="warning">
        </div>
        <div class="col justify-content-center">
            <span>{{error}}</span>
        </div>
    </div>
{% endif %}
<form action="{% url 'subastar_3' id=id %}" method = "POST">
    {% csrf_token %}
    <div class="container-for-input-options align-items-center align-modelo">
        {% if id == 1%}
        <input type="text" name="modelo" placeholder = "Ejp: Megane 2">
        {% elif id == 2%}
        <input type="text" name="modelo" placeholder = "Ejp: Pulsar 200">
        {% elif id == 3%}
        <input type="text" name="modelo" placeholder = "Ejp: Fc9j">
        {% elif id == 4%}
        <input type="text" name="modelo" placeholder = "Ejp: Serie TGX">
        {% elif id == 5%}
        <input type="text" name="modelo" placeholder = "Ejp: Brenson Cr300">
        {% elif id == 6%}
        <input type="text" name="modelo">
        {% endif %}
    </div>
    <div class="buttons">
        <div class = "button-for-go further">
            <button type="submit">
                <img src="{% static 'images/mas.svg'%}" alt="mas">
            </button>
        </div>
        <div class = "button-for-go back">
            <a href="{% url 'subastar_2' id=id %}"><img src="{% static 'images/menos.svg'%}" alt="mas"></a>
        </div>
    </div>
</form>
{% endblock %}