{% extends "layout.html" %}
{% load static %}
{% block header %}
<header>
    <div class="container-fluid ">
        <div class="row align-items-center">
            <div class="col-2 d-flex d-none d-sm-block d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block">
                <div class="logo-head position-relative">
                    <img src="{% static 'images/Logo2.svg'%}" alt="Logo2" class="mx-auto">
                </div>
            </div>
            <div class="col-3 d-xl-none d-lg-none d-xl-block d-flex">
                <div class="logo-head2 position-relative">
                    <img src="{% static 'images/Logo1.svg'%}" alt="Logo1" class="mx-auto">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-6">
                <div class="input_group">
                    <img class = "lupa" src="{% static 'images/search.svg'%}" alt="Logo2">
                    <input type="search" placeholder="Buscar Carros, Camionetas, motos, etc"/>
                </div>
            </div>
            <div class="col-4 d-none d-sm-block d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block">
                <div class="row align-items-center">
                    <div class = "col tirdcolumns">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Categorías
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="#">Carros y Camionetas</a></li>
                              <li><a class="dropdown-item" href="#">Motos</a></li>
                              <li><a class="dropdown-item" href="#">Autobuses</a></li>
                              <li><a class="dropdown-item" href="#">Camiones</a></li>
                              <li><a class="dropdown-item" href="#">Motocarros y Mototriciclos</a></li>
                              <li><a class="dropdown-item" href="#">Otros</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col tirdcolumns">
                        <div class="subasta-group">
                            <a href="#">En subasta</a>
                            <img src="{% static 'images/rec.svg'%}" alt="rec">
                        </div>
                    </div>
                    <div class="col tirdcolumns">
                        <a href="#">Ayuda</a>
                    </div>
                </div>
            </div>
            <div class="col d-none d-sm-block d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block">
                <div class="row align-items-center">
                    <div class="col">
                        {% if not user.is_authenticated %}
                        <a href="{% url 'login'%}">Iniciar Sesión</a>
                        {% else %}
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle user-name" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            {{request.user.first_name}}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end menu-user" aria-labelledby="navbarDropdown">
                                <li class="content-in-dropdown">
                                    <a href="#">
                                        <img src="{% static 'images/Logo1.svg' %}" alt="logo_1">
                                        <p>Mi perfil</p>
                                    </a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li class="content-in-dropdown">
                                    <a href="#">
                                        <img src="{% static 'images/home.svg' %}" alt="logo_1">
                                        <p>Mis subastas</p>
                                    </a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li class="content-in-dropdown">
                                    <a href="#">
                                        <img src="{% static 'images/auction.png' %}" alt="logo_1">
                                        <p>Mis ofertas</p>
                                    </a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li class="content-in-dropdown">
                                    <a href="#">
                                        <img src="{% static 'images/me-gusta.svg' %}" alt="logo_1">
                                        <p>Mis me gusta</p>
                                    </a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li class="content-in-dropdown">
                                    <a href="#">
                                        <img src="{% static 'images/Notificaciones.svg' %}" alt="logo_1">
                                        <p>Notificaciones</p>
                                    </a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li class="content-in-dropdown">
                                    <a href="#">
                                        <img src="{% static 'images/interrogation.svg' %}" alt="logo_1">
                                        <p>Centro de ayuda</p>
                                    </a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li class="content-in-dropdown">
                                    <a href="#">
                                        <img src="{% static 'images/power.svg' %}" alt="logo_1">
                                        <p>Cerrar sesión</p>
                                    </a>
                                </li>
                            </ul>
                            
                        </div>
                        {% endif %}
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary">Subastar</button>
                    </div>
                </div>
            </div>
            <div class="col-3 d-xl-none d-lg-none d-xl-block">
                <div class="row align-items-center">
                    <div class="col burger-container">
                        <!-- <img src="{% static 'images/burger.svg'%}" alt="burger" width="24px" height="24px"> -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle hamburger-button" data-bs-toggle="dropdown" aria-expanded="false ">
                                <img src="{% static 'images/burger.svg'%}" alt="burger" width="24px" height="24px">
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end hamburger-content-header">
                              <li><button class="dropdown-item" type="button">Action</button></li>
                              <li><button class="dropdown-item" type="button">Another action</button></li>
                              <li><button class="dropdown-item" type="button">Something else here</button></li>
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</header>
{% endblock %}